<div id="<%= dom_id desinger %>">
  <p>
    <strong>Name:</strong>
    <%= desinger.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= desinger.email %>
  </p>

  <p>
    <strong>Passwort:</strong>
    <%= desinger.passwort %>
  </p>

</div>
