<h1>Editing desinger</h1>

<%= render "form", desinger: @desinger %>

<br>

<div>
  <%= link_to "Show this desinger", @desinger, class: "btn btn-outline-info" %> |
  <%= link_to "Back to desingers", desingers_path, class: "btn btn-outline-primary"%>
</div>
